<div class="header-container">
<ul>
    <li>
        <h2>
            <a routerLink ="/">Home</a>
        </h2>
    </li>

    <li>
        <h2>
            <a routerLink ="contacts">View All Contacts</a>
        </h2>
    </li>

    <li>
        <h2>
            <a routerLink ="create">Create Contact</a>
        </h2>
    </li>

    <li>
        <h2>
            <a routerLink ="profile">My Profile</a>
        </h2>
    </li>

    <li>
        <h2>
            <a routerLink ="login">Login</a>
        </h2>
    </li>
</ul>
</div>